<div class="modal fade" id="modifyTaskModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify a Task</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modifyTaskForm">
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="modifyTitleInput">
                </div>
                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <input type="text" class="form-control" id="modifyDescriptionInput">
                </div>
                <div class="mb-3">
                    <input type="checkbox"  id="modifyCompleted" name="completed">
                    <label for="completed">Completed?</label>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modifyTaskModalSaveButton" type="button" class="btn btn-primary">Modify</button>
            </div>
        </div>
    </div>
</div>