<!doctype html>
<html> 
<head>
    {{>head}}
</head>
<body>
    {{>navbar}}

    <h1 class="text-center">The page you are trying to reach does not exist.</h1>

    {{>footer}}
    {{>bootstrap-scripts}}
</body>
</html>