<!doctype html>
<html>
<head>
    {{>head}}
</head>
<body>
    {{>navbar}}

    <h1 class="text-center">Assignments</h1>
    <h2 class="text-center"> Where my projects will go</h2>

    {{>footer}}
    {{>bootstrap_scripts}}
</body>
</html>