<!doctype html>
<html> 
<head>
    {{>head}}
    <script defer src="/js/create-account.js"></script>
</head>
<body>
    {{>navbar}}

    <form id="createAccountForm" class="text-center">
        <label for="email">Email</label>
        <br>
        <input id="email" type="email" name="email" >
        <br>
        <label for="user">Username</label>
        <br>
        <input id="username" type="text" name="user" >
        <br>
        <label for="pass">Password</label>
        <br>
        <input id="password" type="password" name="pass" >
        <br><br>
         <input type="submit" value="Submit">
        <p id="message" class="message"></p>
    </form>




    {{>footer}}
    {{>bootstrap_scripts}}
</body>
</html>