<!doctype html>
<html> 
<head>
   {{>head}}
</head>
<body>
    {{>navbar}}
    <h1 class="text-center">Welcome to <br> my CSCI-430 <br> webpage!</h1>
    <div class="text-center">
        <a class="m-3 btn btn-secondary btn-md" href="login">Log in</a>
    </div>

    {{>footer}}
    {{>bootstrap_scripts}}
</body>
</html>