<!doctype html>
<html> 
<head>
   {{>head}}
</head>
<body>
    <div class="page-container">
        {{>navbar}}
        <div class="content-wrap">
            <h1 class="text-center">Welcome to <br> my CSCI-430 <br> webpage!</h1>
            <div class="text-center">
                <a class="m-3 btn btn-secondary btn-md" href="login">Log in</a>
            </div>
        </div>
        {{>footer}}
        {{>bootstrap_scripts}}
    </div>
</body>
</html>