<!doctype html>
<html> 
<head>
    {{>head}}
    <script defer src="/js/login.js"></script>
</head>
<body>
    {{>navbar}}

    <form class="text-center" id="loginForm">
        <div class="container">
            <label for="email">Email</label>
            <br>
            <input id="email" type="email" name="email" >
            <br>
            <label for="pass">Password</label>
            <br>
            <input id="password" type="password" name="pass" >
            <br>
            <br>
            <input type="submit" value="Submit">
            <p>not a member? <a href="create-account">create an account here.</a></p>
            <p id="message1"></p>
        </div>

    </form>




    {{>footer}}
    {{>bootstrap_scripts}}
</body>
</html>