<!doctype html>
<html> 
<head>
    {{>head}}
</head>
<body>
    {{>navbar}}

    <form class="text-center">
        <div class="container">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" >
            <br>
            <label for="pass">Password</label>
            <br>
            <input type="password" name="pass" >
            <br>
            <br>
            <a class="p-2 ms-auto btn btn-secondary btn-sm" href="main">Log in</a>
            <p>not a member? <a href="create-account">create an account here.</a></p>
        </div>

    </form>




    {{>footer}}
    {{>bootstrap_scripts}}
</body>
</html>