<!doctype html>
<html> 
<head>
    {{>head}}
</head>
<body>
   {{>navbar}}

    <h1 class="text-center">access token: {{token}} <br> Welcome to <br> my CSCI-430 <br> webpage!</h1>



    {{>footer}}
    {{>bootstrap_scripts}}
</body>
</html>