<!doctype html>
<html> 
<head>
    {{>head}}
    <script defer src="/js/main.js"></script>
</head>
<body>
    {{>modify_account_modal}}
    {{>navbar}}

    <h1 class="text-center"> Account Options:</h1>
    <ul class="text-center list group">
        <div id="displayAccountItem" class="list-group-item list-group-item-action">Account Info</div>
        <div class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modifyAccountModal">Modify Account</div>
        <div id="delete" class="list-group-item list-group-item-action">Delete Account</div>
        <div id="logOut" class="list-group-item list-group-item-action">Log Out</div>
    </ul>

    <p id="contentArea"></p>


    {{>footer}}
    {{>bootstrap_scripts}}
</body>
</html>