<!doctype html>
<html> 
<head>
    {{>head}}
</head>
<body>
   {{>navbar}}

    <h1 class="text-center">Resources</h1>
    <h2 class="text-center">course site: <a href="http://n0code.net/work/teaching/courses/csci430/2022spring/index.html">N0code.net</a></h2>
    <h2 class="text-center">Github: <a href="https://github.com/justinCairns">Github.com</a></h2>


    {{>footer}}
    {{>bootstrap-scripts}}
</body>
</html>