<!doctype html>
<html> 
<head>
    {{>head}}
    <script defer src="/js/tasks.js"></script>
</head>
<body>
    <div class="page-container">
        {{>navbar}}
        <div class="content-wrap">
            <h1 id="taskNumber" class="text-center">Tasks</h1>
            <div id="contentArea"></div>
            <div class="text-center">
                <button type="button" class="btn btn-dark">Create New Task</button>
                <button type="button" id="next-btn" class="btn btn-success">Next</button>
            </div>
        </div>
        {{>footer}}
        {{>bootstrap_scripts}}
    </div>
</body>