<!doctype html>
<html> 
<head>
    {{>head}}
    <script defer src="/js/tasks.js"></script>
</head>
<body>
    <div class="page-container">
        {{>create_task_modal}}
        {{>modify_task_modal}}
        {{>delete_task_modal}}
        {{>navbar}}
        <div class="content-wrap">
            <h1 id="taskNumber" class="text-center">Tasks</h1>
            <div class="text-center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        filters
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a id="filter-all-btn"class="dropdown-item" href="#">Show all</a>
                        <a id="filter-com-btn" class="dropdown-item" href="#">Show completed tasks</a>
                        <a id="filter-un-btn" class="dropdown-item" href="#">Show uncompleted tasks</a>
                        <a id="sort-rec-btn"class="dropdown-item" href="#">Sort by most recent</a>
                        <a id="sort-old-btn" class="dropdown-item" href="#">Sort by oldest</a>
                    </div>
                </div>            
            </div>
            <br>
            <div id="contentArea"></div>
            <div class="text-center">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#createTaskModal">Create New Task</button>
                <button type="button" id="next-btn" class="btn btn-success">Next</button>
            </div>
        </div>
        {{>footer}}
        {{>bootstrap_scripts}}
    </div>
</body>